.container-register-user {
    border: 5px solid black;
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: column;
    border-radius: 20px;
}

.container-register-user h1 {
    font-size: 60px;
    margin-top: 60px;
    font-weight: bold;
}
.container-register-user p {
    font-size: 30px;
    margin-top: -50px;
    text-align: center;
}

.container-register-user input {
    font-size: 30px;
    margin: 20px;
    border-radius: 10px;
    height: 60px;
}

div.colom-justify {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}
input.colom-role {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.btn-regis {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: red;
    height: 60px;
    width: 25%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.dropdown-departemen {
    margin: 20px;
}
.dropdown-position {
    margin: 20px;
}

/*untuk layar device berukuran kecil*/
@media (max-width: 400px) {
    .container-register-user {
        width: 100%;
    }
    .container-register-user h1 {
        font-size: 40px;
        margin-top: 50px;
        text-align: center;
        font-weight: bold;
    }
    .container-register-user p {
        font-size: 20px;
        margin-top: -50px;
        text-align: center;
    }
    
    .container-register-user input {
        font-size: 20px;
        margin: 15px;
        border-radius: 10px;
        height: 45px;
    }
    
    div.colom-justify {
        width: 83%;
        margin: 0 auto;
    }

    input.colom-role {
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .btn-regis {
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: red;
        height: 40px;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 40px;
        border-radius: 20px;
        border: none;
    }

}